{{ define "footer" }}
<BR><BR>
<footer>
    <center>
    <a href="/timeperiods/search">Time Periods</a>|
    <a href="/schools/search">Schools</a>|
    <a href="/students/search">Students</a><BR>
    </center>
</footer>
{{ end }}