<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Lessons</title>
</head>
<body>
<center>
<h1>Lessons</h1>
<a href="/timeperiods/search">Time Periods</a><BR>
<a href="/schools/search">Schools</a><BR>
<a href="/students/search">Students</a><BR>
<a href="/instructors/search">Instructors</a><BR>
</center>
</body>
</html>