<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Lessons</title>
</head>
<body>
<center>
<h1>Students</h1>
<br><br>
<form action="/create_student" method="POST">
    <TABLE BORDER=1 FRAME=BOX RULES=ALL>
    <tr><td><label for="firstname">First Name</label></td>
        <td><input type="text" name="form_firstname" id="firstname" placeholder="First Name"></td>
    </tr>
    <tr><td><label for="lastname">Last Name</label></td>
        <td><input type="text" name="form_lastname" id="lastname" placeholder="Last Name"></td>
    </tr>
    <tr><td><label for="email">Email</label></td>
        <td><input type="text" name="form_email" id="email" placeholder="Email"></td>
    </tr>
    </table>
    <br>
    <input type="submit">
</form>
<br><a href="/students/search">Search Students</a><br>

</center>
</body>
</html>