<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Lessons</title>
</head>
<body>
<center>
<h1>Time Periods</h1>

<form action="/search_timeperiod" method="POST">
    <table><td>
    <input type="text" name="form_timeperiodsearch" id="timeperiodsearch" placeholder="Search Time Periods">
    </td><td>
    <input type="submit" name="form_button" value="Submit">
    </td>
    </table>
    <br>
    <INPUT TYPE="HIDDEN" MAXLENGTH=10 NAME="form_low" VALUE="{{.Low}}">
    <INPUT TYPE="HIDDEN" NAME="form_prev_next_searchfor" VALUE="{{.SearchFor}}">
    {{if .PrevDisplay}}
        <input type="submit" name="form_button" value="Prev">
    {{end}}
    {{if .NextDisplay}}
        <input type="submit" name="form_button" value="Next">
    {{end}}
</form>

<br>{{.YourMessage}}<br><br>

{{if .TimePeriodList}}
    <TABLE BORDER=1 FRAME=BOX RULES=ALL>
        <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>

        {{range .TimePeriodList}}
            <tr>
                <td><a href="/timeperiods/modify/{{.ID}}">{{.ID}}</a></td>
                <td>{{.Description}}</td>
                <td>{{.StartDate}}</td>
                <td>{{.EndDate}}</td>
            </tr>
        {{end}}

    </table>
{{else}}
    <p>no rows returned</p>
{{end}}

<br><a href="/timeperiods/create">Create Time Period</a><BR>

</center>
</body>
{{ template "footer" }}
</html>