<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Lessons</title>
</head>
<body>
<center>
<h1>Time Periods</h1>
ID {{.ID}}<br><br>
<form action="/modify_timeperiod" method="POST">
    <TABLE BORDER=1 FRAME=BOX RULES=ALL>
    <tr><td><label for="description">Description</label></td>
        <td><input type="text" name="form_description" id="description" placeholder="Description" value="{{.Description}}"></td>
    </tr>
    <tr><td><label for="start_date">Start Date</label></td>
        <td><input type="text" name="form_start_date" id="start_date" placeholder="YYYY-MM-DD" value="{{.StartDate}}"></td>
    </tr>
    <tr><td><label for="end_date">End Date</label></td>
        <td><input type="text" name="form_end_date" id="end_date" placeholder="YYYY-MM-DD" value="{{.EndDate}}"></td>
    </tr>
    </table>
    <INPUT TYPE="HIDDEN" MAXLENGTH=10 NAME="form_id" VALUE="{{.ID}}">
    <br>
    <input type="submit" name="form_button" value="Update"><input type="submit" name="form_button" value="Delete">
</form>
<br><a href="/timeperiods/search">Search Time Periods</a><br>

</center>
</body>
{{ template "footer" }}
</html>